@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@font-face {
    font-family: 'RaiderCrusader';
    src: url('../assets/fonts/raidercrusader.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-crusader: 'RaiderCrusader', sans-serif;
    --font-grotesk: 'Space Grotesk', sans-serif;
    --font-inter: 'Inter', sans-serif;
}
